@use "../abstracts/variables" as *;


.center-header-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
      /* Centra verticalmente */
      
}

.about-section{

    background: url(../imgs/about-section.png) no-repeat;
    background-size: cover;
    // background: $clr-yellow;
    // padding-bottom: 20rem;
    padding-top: 10rem;
}

.game-section{

    background: url(../imgs/about-section.png) no-repeat;
    background-size: cover;
    // background: $clr-yellow;
    // padding-bottom: 20rem;
    // padding-top: 10rem;
}

.game-section canvas{

   width: 70%;
}




.login-section{

    background: url(../imgs/about-section.png) no-repeat;
    background-size: cover;
    // background: $clr-yellow;
    // padding-bottom: 20rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}





.explore-section{
    background: url(../imgs/explore-section.png) no-repeat;
    background-size: cover;
    // background: $clr-yellow;
    // padding-bottom: 20rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
}
  
.explore-section img {

    max-width: 80%; /* La imagen ocupará el 45% del ancho del contenedor */
    height: auto;

}


.discover-section{

    background: url(../imgs/about-section.png) no-repeat;
    background-size: cover;
    // background: $clr-yellow;
    // padding-bottom: 20rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
}



.ready-section{

    background: url(../imgs/ArieneHeader.png) no-repeat;
    background-size: cover;
    padding-bottom: 17rem;
    padding-top: 10rem;
}
